/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLE */

* {
    --red-intro: #ff5851;
}

body {

    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    
}

.section-intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 3px 3px 20px 10px #00000036;
    transform: scale(1);
    border-radius: 20px;
}

.block-red,
.block-white {
    height: 100vh;
    position: absolute;
    top: 0;
}

.block-red.av {
    background-color: #ff5851;
}

.block-white.av {
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.block-red.av,
.block-white.av {
    width: calc(100vw / 2);
    left: 50%;
}

.block-red.av {
    z-index: 10;
}

.block-white.av {
    z-index: 9;
}


/*      ******** SVG ********      */

.nom-prenom {
    position: absolute;
    width: fit-content;
    z-index: 11;
    top: 34%;
    transform: translate(-50%,-50%) scale(1.3);
    left: 49.8%;
}

#isambert g path:nth-child(5),
#isambert g path:nth-child(6),
#isambert g path:nth-child(7),
#isambert g path:nth-child(8){
    stroke: #ff5851;
}

#maxime g path:nth-child(3),
#maxime g path:nth-child(4),
#maxime g path:nth-child(5),
#maxime g path:nth-child(6) {
    stroke: #ff5851;
}

.subtitle {
    color: #FFF;
    position: absolute;
    z-index: 15;
    font-size: 2.5em;
    top: 62%;
    left: 35%;
    opacity: 0;

    .subtitle--text {
        color: var(--red-intro);
    }
}


rect {
    stroke: transparent;
    fill: none;
}

svg #ligne1 {
    font-size: 7em;
    font-weight: bold;

    fill: black;
    stroke-dasharray: 38px;
    stroke-dashoffset: 50px;
    stroke: black;
    fill-opacity: 0;
}

#ligne1 span {
    fill: yellow;
    stroke-dasharray: 38px;
    stroke-dashoffset: 50px;
}

text#ligne2 {
    font-size: 8em;
    font-weight: bold;
    text-transform: uppercase;
    fill: black;
    stroke: black;
    fill-opacity: 0;
}

svg#isambert {
    display: block;
}

svg#maxime {
    display: block;
    margin-top: 1rem;
}

svg path {
    fill: #212121;
    fill-opacity: 0;
    stroke: #FFF;
}

svg#isambert g path:nth-child(1) {
    stroke-dasharray: 198px;
    stroke-dashoffset: 198px;
}

svg#isambert g path:nth-child(2) {
    stroke-dasharray: 414px;
    stroke-dashoffset: 414px;
}

svg#isambert g path:nth-child(3) {
    stroke-dasharray: 292px;
    stroke-dashoffset: 292px;
}

svg#isambert g path:nth-child(4) {
    stroke-dasharray: 631px;
    stroke-dashoffset: 631px;
}

svg#isambert g path:nth-child(5) {
    stroke-dasharray: 447px;
    stroke-dashoffset: 447px;
}

svg#isambert g path:nth-child(6) {
    stroke-dasharray: 413px;
    stroke-dashoffset: 413px;
}

svg#isambert g path:nth-child(7) {
    stroke-dasharray: 429px;
    stroke-dashoffset: 429px;
}

svg#isambert g path:nth-child(8) {
    stroke-dasharray: 297px;
    stroke-dashoffset: 297px;
}


svg#maxime g path:nth-child(1) {
    stroke-dasharray: 721px;
    stroke-dashoffset: 721px;
}

svg#maxime g path:nth-child(2) {
    stroke-dasharray: 345px;
    stroke-dashoffset: 345px;
}

svg#maxime g path:nth-child(3) {
    stroke-dasharray: 401px;
    stroke-dashoffset: 401px;
}

svg#maxime g path:nth-child(4) {
    stroke-dasharray: 254px;
    stroke-dashoffset: 254px;
}

svg#maxime g path:nth-child(5) {
    stroke-dasharray: 567px;
    stroke-dashoffset: 567px;
}

svg#maxime g path:nth-child(6) {
    stroke-dasharray: 308px;
    stroke-dashoffset: 308px;
}

.arrow-scroll {

    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    background-color: #613939;
    width: 3px;
    height: 30px;
    opacity: 0;
    z-index: 15;
    bottom: 9em;
    animation: arrow-scroll 1s infinite ease;

    &:before {
        content: "";
        width: 15px;
        height: 15px;
        border: 2px solid;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        bottom: 1px;
        right: -8px;
        transform: rotate(45deg);
    }
}

@keyframes arrow-scroll {
    from {
        bottom: 9em;
    }
    50% {
        bottom: 9.5em;
    }
    to {
        bottom: 9em;
    }
}

nav#nav {
    position: sticky;
    width: 95%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {

        position: relative;

        &.menu {
           
            li {
                
                opacity: 0;
            }

            display: flex;
            justify-content: end;
            margin-right: 5rem;

            a {
                color: #000000b5;
                font-weight: bold;
                text-decoration: none;
                transition: all .2s ease-in-out;
                text-shadow: 11px 16px 10px #00000054;

                &:hover,&.active {
                    color: var(--red-intro);
                }
            }
    
            li:not(:last-child) {
                margin-right: 4rem;
            }
        }

        &.logos {
            
            display: flex;
    
            li {
                opacity: 0;
                position: relative;
                transition: .2s all;

                &:not(:last-child) {
                    margin-right: 3rem;
                }

                path {
                    fill-opacity: 1;
                    fill:#000000b5;
                }
                
                &.tw:hover path {
                    fill: rgb(29, 161, 242);
                }
    
                &.lk:hover path {
                    fill: #0a66c2;
                }
            }
           
        }
       
    }

    .tiret-anim {
        position: absolute;
        bottom: -5px;
        width: 56px;
        height: 3px;
        background-color: var(--red-intro);
        left: 0;
        opacity: 0;
    }
}

.test {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1400px;
    border-radius: 50%;
    z-index: 15;
    top: 300px;
    background-image: repeating-radial-gradient(circle at 90%, #fd1919d4, transparent);
    display: none;

    &:before {
        content: "";
        top: 7%;
    }
}

main {
    width: 1400px;
    margin: 0 auto;
}

p {
                    
    color:#6b7280;
    font-size: 1.2em;
    line-height: 30px;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.en-tete {
    margin-bottom: 2.5rem;

    > div {
        margin-bottom: 1rem;
        
        svg {
            transform: scale(1.3);
            margin-left: 6px;

            path {
                fill: #7c3aed;
                stroke: #7c3aed;
                fill-opacity: 1;
            }
        } 
    }

    h3 {
        font-size: 4em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #7c3aed;
        text-transform: uppercase;
    }
}

// A propos

#aPropos {

    margin-bottom: 10rem;

    .bloc-dev {
        display: flex;
        justify-content: space-between;
        
        p {
            width: 62ch;
        }

        img {
            
            object-fit: contain ;

        filter: drop-shadow(2px 4px 6px black) grayscale(1);

        &:hover {
            filter:drop-shadow(2px 4px 6px black) grayscale(0);
        }
       }
    }

}


//Portfolios

#portfolios {

    margin-bottom: 10rem;

    .en-tete {
        margin-bottom: 3rem;
    }

    .portfolios--projets {

        nav {
            position: relative;

            .bulle-hover {
                display: block;
                position: absolute;
                width: 40px;
                top: -7px;
                left: 0;
                border-top: 3px solid #f91919;
            }

            ul {
                display: flex;

                li {
                    &:not(:last-child) {
                        margin-right: 2rem;
                    }

                    a {
                        color: #6b7280;
                        font-weight: bold;
                        text-decoration: none;
                        font-size: 1.1em;
                    }
                }
            }
        }

        .grid {
            position: relative;
            margin-top: 3rem;
            height: auto;
            transition: all .4s;
            max-height: 1000px;
            transition: all .8s ease-in;
            
            .projet--card {
                position: absolute;
                transform-style: preserve-3d;
                overflow: hidden;
                width: 448px;
                height: 280px;
                filter: drop-shadow(2px 4px 6px gray);

                &:hover {
                    img {
                        transform: translateY(0) scale(1.2);
                        filter: drop-shadow(2px 4px 6px gray) brightness(0.6);
                    }
                    
                    .cell-hover {
                        top: 0;
                        opacity: 1;
                       
                        .categories-projet { 
                            opacity: 1;

                            span {
                                opacity: 1;
                            }
                        }
                    }
                }

                &::after {

                    content: "";
                    height: 65px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(to top, #000000b3, transparent);
                
                }

                img {
                    transform: translateY(20px) scale(1.2);
                    width: 448px;
                    height: 280px;
                    object-fit: fill;
                    transition: all .4s;
                }

                .cell-hover {
                    z-index: 5;
                    width: 448px;
                    height: 280px;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 54%;
                    left: 0;
                    transition: all .3s ease-out;

                    h3 {
                        position: absolute;
                        text-transform: uppercase;
                        top: 33%;
                        text-align: center;
                        width: 100%;
                        color: #FFF;
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                    
                    .categories-projet {
                        position: absolute;
                        top: 53%;
                        left: 50%;
                        opacity: 0;
                        transform: translateX(-50%);
                        transition: all .3s ease-out;
                        color: #FFF;

                        span {
                            display: block;
                            border: 1px solid;
                            text-align: center;
                            padding: 3px;
                            opacity: 0;
                            transition: .3s all .25s;

                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
